.react-flow__handle-right {
    top: inherit;
}

.react-flow__handle {
    position: inherit;
    transform: none;
    height: 10px;
    width: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

